ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 20px;
    
}

h2 {
    color: white;
}

h3 {
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-top: 0;
    color: #03E69B
    /*color: white; */
}
h4 {
    color: white;
}

.route-description {
    color:white;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: white;
}

table caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

thead, tbody {
    margin-left: 20px;
}


th, td {
    border: 1px solid var(--grey-1);
    padding: 8px;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
}
/* "th" is the table head row */
th {
    background-color: var(--grey-2);
    text-transform: uppercase;
}

.table-item-description {
    border: 1px solid var(--grey-1);
    padding: 8px;
    text-align: center;
    width: 50%;
    min-width: 30%;
}
.route-description {
    margin-bottom: 10px;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    body {
        width: 100%;
    }
    .navbar {
        width: 95%;
        align-content: center;
        padding-top: 5px;
    }
    .navbar a {
        margin: 0 5px;
    }
    h1, h2 {
        font-size: 4vw; /* Increase font size for smaller screens */
    }
    h3 {
        font-size: 3vw;
    }
    h4 {
        font-size: 2.5vw;
    }

    ul {
        padding: 0;
    }
    .route-description {
        font-size:  2.5vw;
        padding: 0 20px;
        text-indent: 15px;
    }
    table {
        width: 100%;
        font-size: 2.5vw;
    }
    table caption {
        font-size: 3vw;
    }

    th, td {
        font-size: 2.4vw; /* Increase font size for smaller screens */
        padding: 10px 5px; /* Increase padding for better touch support */
    }

}

