<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheSquad - API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
</head>
<body>
    <h1 class="wip">******WORK IN PROGRESS******</h1>
    <h1 class="website-header">TheSquad - API</h1>
    <div class="intro-container">
        <section class="welcome">
            <h2 class="welcome-head">Welcome!</h2>
            <p class="welcome-text">
                    &nbsp;&nbsp;&nbsp;&nbsp;Hello! TheSquad is a personal project I undertook to explore my passion for data analysis 
                    and apply it the gaming community. The goal of this project is to develop a service tool for players of the popular 
                    online multiplayer game, League of Legends. This project focuses on providing users with interesting, fun, and 
                    useful metrics about how a specified group of players perform together as a team.
            </p>
            <p class="welcome-text">
                    &nbsp;&nbsp;&nbsp;&nbsp;I Obtained necessary player data by obtaining approval through the Riot Games Developer Program. 
                    Through this came the creation of a unique ID hierarchy for each Squad using Riot's provided static player identifiers, 
                    as well as a comprehensive data set that defines important metrics about each individual player and the Squad as a whole. 
                    I Developed algorithms to efficiently structure this data in an easily processable format so that retrieval and output is 
                    similar to industry standards on this topic. Lastly, I created and deployed a RESTful API (what you see below!) using Flask 
                    and Heroku cloud hosting services.  
            </p>
            <p class="welcome-text">
                    &nbsp;&nbsp;&nbsp;&nbsp;The purpose of this project was to offload the collection, storage, and management of this data 
                    away from a theoretical "TheSquad" website. It's hard to say if that will ever come to fruition since I'm working on this 
                    alone, however, I found it useful in helping narrow the scope and purpose of the project thus far. I plan to analyze the 
                    stored data and utilize these results to develop a tailored set of metrics that represent a team's relative performance 
                    under variety of conditions. Acquiring basic stats is the first step. Once secured, interpreting what this data means, 
                    in the scope of the game, can provide valuable insight into a team's perfomance together rather than individual players.
            </p>
        </section>
        <section class="disclaimer">
            <h2 class="disclaimer-head">Disclaimer:</h2>
            <p class="disclaimer-text">
                [disclaimer_statement_placeholder]
            </p>
        </section>
    </div>
    <div class="navbar">
        <a href="#" id="squad-button" data-target="squad-content">Squad</a>
        <a href="#" id="riotID-button" data-target="riotID-content">RiotID</a>
        <a href="#" id="match-button" data-target="match-content">Match</a>
    </div>

    <div id="content-container">
        <!-- Load route content based on navbar choice -->
    </div>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>
</html>